[submodule "third_party/deepanalyze"]
	path = third_party/deepanalyze
	url = https://github.com/ruc-datalab/DeepAnalyze.git
	branch = main
[submodule "third_party/data-formulator"]
	path = third_party/data-formulator
	url = https://github.com/microsoft/data-formulator.git
	branch = main
[submodule "third_party/wrenai"]
	path = third_party/wrenai
	url = https://github.com/Canner/WrenAI.git
	branch = main
